<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center {
            text-align: center;
        }
        .big-font {
            font-size: 24px;
            font-weight: bold;
        }
    </style>
</head>
<body>
     <div class="center">
        <p class="big-font">
            Для всех продуктов рецепта с наименованием - "{{ recipe_name }}"
            - увеличено количество использований на 1
        </p>
    </div>
</body>
</html>